<%- include("partials/headerMain.ejs"); -%>

    <body>
        <!--- This is the overlay div when it will be active when we will toggle the navbar in mobile device --->
        <div class="overlay againdisp">
        </div>
        <!--- This the Nav Bar --->
        <div class="main-content">
            <div class="navbar active">
                <!--- This is the NavBar Brand saying "GatherUp!" --->
                <div class="nav-brand">
                    <h1>EduCafé</h1> <span class="mycross fa fa-times againdisp"></span>
                </div>
                <!--- Nav Items --->
                <div class="nav-items">
                    <% if(designation==="student"){%>
                        <ul>
                            <li><a href="/student/EduCafe/overview"><i class="fa fa-info menu"></i>Overview</a></li>
                            <li><a href="/student/EduCafe"><i class="fa fa-calendar menu"></i> Schedule</a></li>
                            <li><a href="/student/EduCafe/polls"><i class="fa fa-bar-chart-o menu p-menu"></i>Polls</a></li>
                            <li class="menu-ex"><a href="/student/EduCafe/assignments"><i class="fa fa-bookmark-o menu-ex-li"></i>Assignments</a></li>
                        </ul>
                        <%}%>
                            <% if(designation==="teacher"){%>
                                <ul>
                                    <li><a href="/teacher/EduCafe/overview"><i class="fa fa-info menu"></i>Overview</a></li>
                                    <li><a href="/teacher/EduCafe"><i class="fa fa-calendar menu"></i> Schedule</a></li>
                                    <li><a href="/teacher/EduCafe/polls"><i class="fa fa-bar-chart-o menu p-menu"></i>Polls</a></li>
                                    <li class="menu-ex"><a href="/teacher/EduCafe/assignments"><i class="fa fa-bookmark-o menu-ex-li"></i>Assignments</a></li>
                                </ul>
                                <%}%>
                </div>
                <!--- Log out Option --->
                <div class="nav-log-out">
                    <% if(designation==="student"){%>
                        <a href="/student/logout"><i class="fa fa-sign-out log-li"></i>Log out</a>
                        <%}%>
                            <% if(designation==="teacher"){%>
                                <a href="/teacher/logout"><i class="fa fa-sign-out log-li"></i>Log out</a>
                                <%}%>
                </div>
            </div>
            <!--- This is the hamburger symbol and it will be active once viewed in mobile device --->
            <div class="hamburger">
                <span id="ham" class="fa fa-bars"></span>
            </div>
            <div class="content">
                <div class="flex-container">
                    <!--- Creating the Search Bar --->
                    <div class="search-bar">
                        <form class="form-container" action="index.html" method="post">
                            <input type="text" name="search" value="" placeholder="Search course, lecture, exam..." autocomplete="off">
                            <button class="search-icon fa fa-search" type="submit" name="button"></button>
                        </form>
                    </div>
                    <!--- Notification and User Icons --->
                    <div class="user-disp">
                        <a href="#" class="fa fa-bell-o bell-icon"></a>&nbsp;&nbsp&nbsp;
                        <% if(designation==="student"){%>
                            <a href="/student/EduCafe/overview" class="fa fa-user-circle user-icon"></a>
                            <%}%>
                                <% if(designation==="teacher"){%>
                                    <a href="/teacher/EduCafe/overview" class="fa fa-user-circle user-icon"></a>
                                    <%}%>
                    </div>
                </div><br>
                <div>
                    <h1 style="text-align:center;margin-bottom:1.5%">User <span style="color:#8a658f">Profile</span> </h1>
                    <hr><br>
                    <table style="margin: auto;" class="over-table">
                        <tr>
                            <td style="font-weight: bold;">Name:</td>
                            <td>
                                <%=details.name%>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Email:</td>
                            <td>
                                <%=details.email%>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Contact:</td>
                            <td>
                                <%=details.contact%>
                            </td>
                        </tr>
                        <% if(designation==="student"){%>
                            <tr>
                                <td style="font-weight: bold;">Year:</td>
                                <td>
                                    <%=details.year%>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Roll Number:</td>
                                <td>
                                    <%=details.roll%>
                                </td>
                            </tr>
                            <%}%>
                                <tr>
                                    <td style="font-weight: bold;">Subjects:</td>
                                    <td>
                                        <%=details.subjects%>
                                    </td>
                                </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <%- include("partials/footerMain.ejs"); -%>